.nav-bar{
    width:100%;
    height:60px;

    margin: 0;
}

.nav-content{
    z-index:999;
    height: 50px;
    width:100%;
    margin-left: 0;
    margin-top: 0;
    margin-right: 0;
    background:black;
    position: fixed;
    top: 0;
    padding: 0px;
}

.home-icon{

    width:50px;
    height:50px;
    position: absolute;
    left:0px;
    top:0px;

}
.nav-content ul{
    /* 清除ul标签的默认样式 */
    width: auto;/*宽度也改为自动*/
    list-style-type: none;
    white-space:nowrap;
    overflow: hidden;
    margin-left: 60px;
    /* margin-top: 0;          */
    padding: 0;

}
.nav-content li {
    float:left; /* 使li内容横向浮动，即横向排列  */
    margin-right:2%;  /* 两个li之间的距离*/
    position: relative;
    overflow: hidden;
}

.nav-content li a{
    /* 设置链接内容显示的格式*/
    display: block; /* 把链接显示为块元素可使整个链接区域可点击 */
    color:white;
    text-align: center;
    padding: 3px;
    overflow: hidden;
    text-decoration:none; /* 去除下划线 */

}

.nav-content li a:hover{
    /* 鼠标选中时背景变为黑色 */
    background-color:lightblue;
    color: white;

}
.nav-content .highlight{
    border-bottom: rgba(24, 40, 82, 0.83);
    border-bottom-width: 5px;
    border-style: none none solid none;
}
.current{
    color: red;
}

.nav-content ul li ul{
    /* 设置二级菜单 */
    display:block;

    margin-left: -0.2px;
    background:black;
    position: relative;
    display: none; /* 默认隐藏二级菜单的内容 */

}
.nav-content ul li ul li{
    /* 二级菜单li内容的显示 */

    float:none;
    text-align: center;
}
.nav-content ul li:hover ul{
    /* 鼠标选中二级菜单内容时 */
    display: block;
}

footer{

    height: 50px;
    margin-top: 5%;
    margin-bottom: 0;
    background-color: rgba(17, 40, 60, 0.82);
    text-align: center;
    color: rgba(255, 255, 255, 0.62);

}