.nav-bar{
    width:100%;
    height:60px;

    margin: 0;
}

.nav-content{
    z-index:999;
    height: 50px;
    width:100%;
    margin-left: 0;
    margin-top: 0;
    margin-right: 0;
    background:black;
    position: fixed;
    top: 0;
    padding: 0px;
}

.home-icon{

    width:50px;
    height:50px;
    position: absolute;
    left:0px;
    top:0px;

}
.nav-content ul{

    width: auto;
    list-style-type: none;
    white-space:nowrap;
    overflow: hidden;
    margin-left: 60px;
    padding: 0;

}
.nav-content li {
    float:left;
    margin-right:2%;
    position: relative;
    overflow: hidden;
}

.nav-content li a{

    display: block;
    color:white;
    text-align: center;
    padding: 3px;

    text-decoration:none;

}

.nav-content li a:hover{

    background-color:lightblue;
    color: white;

}
.nav-content .highlight{
    border-bottom: rgba(24, 40, 82, 0.83);
    border-bottom-width: 5px;
    border-style: none none solid none;
}
.current{
    color: red;
}

.nav-content ul li ul{
    display:block;
    margin-left: -0.2px;
    background:black;
    position: relative;
    display: none;

}
.nav-content ul li ul li{
    float:none;
    text-align: center;
}
.nav-content ul li:hover ul{
    display: block;
}

footer{

    height: 50px;
    margin-top: 5%;
    margin-bottom: 0;
    background-color: rgba(17, 40, 60, 0.82);
    text-align: center;
    color: rgba(255, 255, 255, 0.62);

}